<div class="cuadroInformativo cuadroTextoGrande">
    <h1 class="text-center">Bienvenido a TaxiXpress</h1>
    <br><br><br><br><br>
    <div class="text-center">
          <%= link_to "Reporte de Servicios", driver_services_path(@driver), :class => "btn btn-lg boton" %>
    </div>
</div>