
<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>Gracias por escribirnos!
Nuestro personal estará en comunicación con usted.</h1>
<%= button_to "Continuar",  paginaprincipal_usuario_index_path, :class => "button", :method => :get  %>
</div>
</div>
</div>