<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>Seleccionar-Taxista</h1>
<select>
  <option value="Conducto">Conductor</option>
   </select>
<input type="text" name="txtConductor" placeholder='Jorge Flores' ><br>

<%= button_to "Aceptar Taxista",  servicio_precio_usaurio_index_path, :class => "button", :method => :get  %>
<div class='botonesPaginaPrincipal'>
</div>
</div>
</div>