
<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>Bienvenido a TaxiXpress</h1>
<div class='botonesPaginaPrincipal'>
<%= button_to "Ingresar Taxista",    new_driver_path, :class => "myButton", :method => :get  %>
<%= button_to "Reportes de Taxista",  solicitudes_taxista_index_path, :class => "myButton", :method => :get  %>
<%= button_to "Asignación de Taxis a Usuarios",  services_path, :class => "myButton", :method => :get  %>
<%= button_to "Crear  Usuarios",  new_client_path, :class => "myButton", :method => :get  %>
</div>
</div>
</div>
