
<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>Servicio-Ruta</h1>
<select>
  <option value="Origen">Origen</option>
   </select>
<input type="text" name="txtOrigen" ><br>
<select>
  <option value="Destino">Destino</option>
   </select>
<input type="text" name="txtDestino" ><br>
<%= button_to "Aceptar Ruta",  seleccionar_taxista_index_path, :class => "button", :method => :get  %>
<div class='botonesPaginaPrincipal'>

</div>
</div>
</div>