<div class="cuadroInformativo cuadroTextoGrande">
 		<div class="scrollY">
 			<h4 class="textoNaranja">Servicio</h4>
	 		<div>
	 			<u>Tecnologìa:</u> 
	 			<p>
	 				Soluciones para el monitoreo y la administración de recursos informáticos.
	 				<br>
					Solución en la integración de aplicaciones.
					<br>
					Implementación de soluciones propias y de terceros.
					<br>
					Planeamiento de sistemas.
					<br>
					Auditoria de sistemas.
	 			</p>
				<u>Servicios Adicionales:</u> 
				<p>
					Renovación del servicio post venta: tendrá la opción de renovar el servicio anual, por un importe adicional. ​<br>
					Asesoría y consultoría.
				</p>
				<u>Desarrollo de Aplicaiones Web:</u>
				<p>
					Le brindamos a nuestros clientes aplicaciones web desarrolladas a medida de sus necesidades, estas cuentas con los más altos estándares de calidad.Además, se le brinda al cliente pequeños entregables por cada ciclo de trabajo para que el dé su respectivo feedback.
				</p>
				<u>Soporte Continuo:</u>
				<p>
					Les brindamos soporte continuo a las aplicaciones desarrolladas en nuestra empresa como garantía por contratar nuestros servicios. Este tendrá una duración de 1 año.
				</p>		
				<u>Consultoria de Calidad:</u>
				<p>
					Además de brindar desarrollo a nuestros clientes también ofrecemos consultorías para mejorar la calidad de otros productos de software.
				</p>
				<u>Servicios por horas:</u>
				<p>
					Servicio donde Usted podrá acceder a una de nuestras unidades por el tiempo que lo necesite. Este servicio es ideal para hacer trámites personales y otro tipo de actividades en la cual usted necesite hacer varias paradas con espera.
				</p>
				<u>Servicio de mensajería – courier:</u>
				<p>
					Servicio en la cual nuestros conductores están autorizados previa coordinación de hacer tramites, compras, transportar paquetes pequeños el cual llegara con éxito a su destino final.
				</p>
				<u>Servicio a Playas:</u>
				<p>
					Evite Usted manejar su auto luego de esa semana placentera, nuestro servicio de traslado desde playas lo evitara de posibles problemas el cual nuestra empresa pensando en su seguridad brinda este servicio de ida y vuelta a cualquier punto de las playas litorales.
				</p>
				<u>Servicios ONLINE:</u>
				<p>
					Con tan solo un click nuestros operadores registran su petición de viaje y rápidamente lo llamaremos para confirmar su servicio.
				</p>
	 		</div>
 		</div>
 		
 	</div>