
<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>¿Quiénes Somos?</h1>
<p>
    Somos una empresa líder en el servicio de taxis con especialidad en atención en las áreas de turismo, transporte personal, transporte empresarial y Courier. Nuestra visión es afianzarnos y posicionarnos en el mercado nacional de servicio de transporte 
    "TAXIS" comprometiéndonos así a brindar lo mejor al cliente y público en general. 
    Así mismo, demostrando calidad, seguridad, puntualidad, comodidad y la garantía de que cada uno de nuestros clientes llegarán seguros a su destino final.


</p>
<%= image_tag("logotipote.png") %>
</div>
</div>