<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<div class'contenedorAlineado'>
<div class='rightside'>
<%= image_tag("logotipote.png") %>
</div>
<div class='leftside'>
<p>Taxi Express es una iniciativa que surgio gracias a un proyecto de la consultora Ingenieros Systems
</p>

</div>
</div>
</div>
</div>