/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self

 */


body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    
   
   
}
.container{
     text-align:center;
    
       
}
.fondo{
    width:100%;
    height:70%;
     background-repeat: no-repeat;
      background-size: cover;
      background-image:url('./Fondo.png');
     padding-bottom:300px;
 
}
.tabsalineados{
     display: table;
    margin: 0 auto;
}

.registrese{
  text-align: right;
   font-weight:100;
   font-size:20%;
   padding-right:50px;
 
}

.listaiconos{

   text-align:right;
   height:100px;
    width:auto;
    margin-right:20px;

}
.listaiconos img{
   height:30%;
    width:auto;
}


.footerInicial{
    height:50px;
    width:auto    ;
    background-color:#FACC2E;
    padding-top:50px;
}

.contenedorPrincipal{
     height:50%;
      width:50%;
      background-color:#585858;
      margin: auto;
     padding: 10px;
     margin-top:300px;
      opacity: 0.7;
      border-radius: 25px;
      overflow:hidden
   
}
.contenedorPrincipal h1{
    color:orange;

  
}
.sobretaxiImg{
    text-align:right;
 
    
}
.rightside{
    float: left;
   


}
.leftside{
     display: inline-box;
     height:200px;
}
.leftside p{
     display: inline-box;
     text-size:70%;
}
.enviarComentario{
    float: left;
    margin-left: 108px;
}
.comentarios{
    float: left;
    margin-left: 108px;
}
.comentarios img{
   width:20%;
   height:20%;
   float:left;
}
.seccionComentarios p{
   float:right;
}
a:visited {
    color: #FE9A2E;
    background-color:transparent;
}
.contenedorComentarios{
    float: left;
    margin-left: 108px;
}
.contactoCampos {
    float:left;
    margin-left:50px;
}
.contactoCampos {
    margin-bottom:20px;
   text-align: left;
    
}
.contactoInputs{
     margin-bottom:20px;
    float:left;
}

.myButton {
    background-color:orange;
    width:70%;
    height:70%;
    color:white;
}
.inicioImg img{
    height:20%;
    width:20%;
    display: block;
   
}

.inicioImg {
   width:100%;
   margin-left:20%;
}
.usuarioMenu{
    display:inline-block;
 
}
.taxistaMenu{
    
}
.administradorMenu{
    
}
.authImg img{
    height:50%;
    width:20%;
}
a:hover {
    background-color: transparent;
    
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: uppercase;
    font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #FFFFFF;
      display: table;
    margin: 0 auto;
   
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.brand,
.address-bar {
    display: none;
}


.navbar-brand {
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar-nav {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 3px;
}

.img-full {
    min-width: 100%;
}

.brand-before,
.brand-name {
    text-transform: capitalize;

    
}

.brand-before {
    margin: 15px 0;
}

.brand-name {
    margin: 0;
    font-size: 4em;

}

.tagline-divider {
    margin: 15px auto 3px;
    max-width: 250px;
    border-color: #999999;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
    background-color:#000000;
    
}

footer p {
    padding: 10px 0;
    text-align:center;
    color:#FFFFFF;
}

@media screen and (min-width:768px) {
    .brand {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: left;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-family: "Josefin Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #FE9A2E;
       
    }

    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }

    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar-header {
        display: none;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
 
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    
    }
    .col-lg-9 {
     width: 100%; 
    }
  
}