
<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>Testimonios</h1>
<p>
   Utiliza este espacio para contarnos tu experiencia con nuestro servicio. Cualquier comentario es bien recibido.
</p>
<div class='contenedorComentarios'>
<div class='comentarios'>
    <div class='seccionComentarios'>
      <%= image_tag("comentario01.jpg") %>
      <p>El servicio me parecio excelente</p>
      </div>
</div>

<div class='enviarComentario'>
    <textarea rows="4" cols="50">
Dejanos tu comentario.
</textarea>

</div>
</div>
</div>