
<h1>Bienvenido a TaxiXpress</h1>
<%= button_to "Solicitar Taxi",  servicio_index_path, :class => "button", :method => :get  %>
<%= button_to "Reporte de Taxis",  servicio_index_path, :class => "button", :method => :get  %>
<%= button_to "Consultar Servicio de Taxi",  servicio_index_path, :class => "button", :method => :get  %>