<div class='contenedorsobre'>
<div class='contenedorPrincipal'>
<h1>Bienvenido a TaxiXpress</h1>
<div class='botonesPaginaPrincipal'>
<%= button_to "Solicitar Taxi",  new_client_service_path(@client), :class => "myButton", :method => :get  %>
<%= button_to "Reporte de Taxis",  reporte_taxis_usuario_index_path, :class => "myButton", :method => :get  %>
<%= button_to "Consultar Servicio de Taxi",  consultar_servicio_usuario_index_path, :class => "myButton", :method => :get  %>
</div>
</div>
</div>