<<<<<<< HEAD
<div class='contenedorsobre'>
<div class='contenedorPrincipal'></div>

=======
<h1>Servicio</h1>
<p>Find me in app/views/servicio/index.html.erb</p>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
>>>>>>> 568405f97dab23a1cfa46d6ccebb5ff4b60719de
</div>
</div>
